/* 
.Uprofile-section{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}
.Uprofile-div1{
    height: 100vh;
    width: 100vw;
    background-color:#F1E2E2;
    
}
.Uprofile-div2{
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 5%;
     
}
.Uprofile-div3{
    height: 10%;
    width: 100%;
    background-color: rgb(255, 255, 255); 
}
.Uprofile-div4{
    height: 70%;
    width: 100%;
   
    display: flex;
    column-gap: 5%;
}
.Uprofile-div5{
    height: 95%;
    width: 25%;

   
}
.Uprofile-div6{
    height: 100%;
    width: 70%;
  
   
}
.div6-child1{
    height: 10%;
    width: 70%;
    background-color: #FFFCFC;
    border: 2px solid #B5918C;
    border-radius: 10px;
    display: flex;
  
    align-items: center;
    gap: 5%;
  
  
}
h3{
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
.div6-child2{
    height: 70%;
    width: 70%;
    border: 2px solid #B5918C;
    background-color: #FFFCFC;
    margin-top: 1%;
    border-radius: 10px;
    
}
.circle{
    height: 80%;
    width: 8%;
    background-color: #EAEAEA;
    border: 1px solid #BCB9B9;
    border-radius: 50%;
    margin-left: 2%;
    background-image: url("./icons8-user-48.png");
    background-size: cover;

}
.icon-1{
    background-image: url("./icons8-user-48.png");   
} */
*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}

.container-fluid{
    height: 100vh;
    width: 100%;
    background-color:#F1E2E2;
}
.left-div{
    height: 35rem;
    background-color:#F1E2E2;
}

.left-div-child1{
    gap: 20px;
}
.right-div{
    height: 35rem;
   
    /* background-color: rgb(161, 202, 13); */
}
.right-div-child1{
    height: 35rem;
    /* background-color: black; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2%;
}.child1-div1{
    width: 50rem;
    height: 5rem;
    background-color: #FFFCFC;
    border: 2px solid #B5918C;
    border-radius: 10px;
    display: flex;
   
}
.child1-div2{
    width: 50rem;
    height: 29rem;
    border-radius: 10px;
    background-color: #FFFCFC;
    border: 2px solid #B5918C;
}
.circle{
    height: 90%;
    width: 9% ;
    background-image: url("./icons8-user-48.png");
    background-size: cover;
    background-color: #EAEAEA;
    border: 1px solid #BCB9B9;
    border-radius: 50px;
}
.textline{
    height: 0.1rem;
    width: 20rem;
    background-color: rgb(64, 64, 64);
}
.btn{
    width: 30%;
    background-color: #AE8686;
   
    border-radius: 5px;
}
.custom-input{
    background-color: #FFFCFC;
    border: 2px solid #B5918C;  
}